.tweet--item {
    width: 80%;
    margin-bottom: 50px;
    padding: 5%;
    background-color: #ffffff;
    border-radius: 7px;

    .Tweet--tweet {
      font-size: x-large;
      margin-bottom: 8px;
    }

    .Tweet--user {
      margin-bottom: 5px;
    }

    .Tweet--retweet {
      color: steelblue;
    }
}